
<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>贷款</title>
    <link rel="stylesheet" href="https://www.weixin2910.top/addons/fy_loan_page/template/static/weui.min.css" />
    <link rel="stylesheet" href="https://www.weixin2910.top/addons/fy_loan_page/template/static/jquery-weui.css" />
    <link rel="stylesheet" href="https://www.weixin2910.top/addons/fy_loan_page/template/static/public.css" />
    <link rel="stylesheet" href="https://www.weixin2910.top/addons/fy_loan_page/template/static/iconfont.css" />
    <link rel="stylesheet" href="https://www.weixin2910.top/addons/fy_loan_page/template/static/loan.css" />
    <script src="https://www.weixin2910.top/addons/fy_loan_page/template/static/jquery.js"></script>
    <script src="https://www.weixin2910.top/addons/fy_loan_page/template/static/rem.js"></script>
    <script src="https://www.weixin2910.top/addons/fy_loan_page/template/static/public.js"></script>
    <script>
        $(function(){
            $(".load").hide();
        })
    </script>
</head>
<body id="loan" style="overflow:inherit">
<div class="load" style="width: 100%;height: 100%;background:#EDF3FF;position: absolute;left: 0;top:0;z-index: 9999999;"></div>
<div class="weui-tab">
    <div class="box">
        <div class="weui-navbar-box">
            <div class="weui-navbar" v="{$m}" id="m">
                <a class="weui-navbar__item" href="{:url('index/index', ['module' => 'jddq'])}" id="tab_title1">借贷大全</a>
                <a class="weui-navbar__item" href="{:url('index/index', ['module' => 'zzx'])}" id="tab_title2">周周新</a>
            </div>
        </div>
    </div>
    <div class="weui-tab__bd">
        <!--基本信息-->
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active default">
            <div class="date"></div>
            <div class="loan">
                {volist name="data" id="vo"}
                    {if condition="is_array($vo.product)"}
                    <div class="loan_list" id="0">
                        <span>{$vo.name}</span>
                        <ul>
                            {volist name="vo.product" id="p"}
                            <li url="./index.php?i=135&amp;c=entry&amp;url=aHR0cDovL3luanIuZmFuemhvdXRlY2guY29tL21vYmlsZS9hcHBseWZvcm0%2FcGFyPTZEMUVFODlEODQxRUUzMDU1MEQ0MTREOTVCRjY2NUYz&amp;do=open&amp;m=fy_loan_page" platid="24" platname="海马钱包">
                                <a href="{$p.url}">
                                    <div class="loan_list_icon" style="background:url('__UPLOADS__/{$p.logo}') no-repeat center;background-size:contain;"><img src="__UPLOADS__/{$p.logo}" height="100%" width="100%"></div>
                                    <div class="loan_list_describe">
                                        <span>{$p.name}</span>
                                        <span>{$p.comment}</span>
                                    </div>
                                </a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    {/if}
                {/volist}
                <!--
                <div class="loan_list" id="0">
                    <span>极速下款推荐</span>
                    <ul>
                        <li url="./index.php?i=135&amp;c=entry&amp;url=aHR0cDovL3luanIuZmFuemhvdXRlY2guY29tL21vYmlsZS9hcHBseWZvcm0%2FcGFyPTZEMUVFODlEODQxRUUzMDU1MEQ0MTREOTVCRjY2NUYz&amp;do=open&amp;m=fy_loan_page" platid="24" platname="海马钱包">
                            <a href="javascript:;">
                                <div class="loan_list_icon" style="background:url(http://chucun.mefuu.com/images/135/2018/03/MUf4zF5byoQ45QqQ5qYZtE14os5Qq8.jpg) no-repeat center;background-size:contain;"></div>
                                <div class="loan_list_describe">
                                    <span>海马钱包</span>
                                    <span></span>
                                </div>
                            </a>
                        </li>
                        <li url="./index.php?i=135&amp;c=entry&amp;url=aHR0cDovL3luanIuZmFuemhvdXRlY2guY29tL21vYmlsZS9hcHBseWZvcm0%2FcGFyPTZEMUVFODlEODQxRUUzMDU1MEQ0MTREOTVCRjY2NUYz&amp;do=open&amp;m=fy_loan_page" platid="23" platname="现金广场">
                            <a href="javascript:;">
                                <div class="loan_list_icon" style="background:url(http://chucun.mefuu.com/images/135/2018/03/Q1XHH9H00ZBHbzdkZXhhY9ZhaZ1zIb.jpg) no-repeat center;background-size:contain;"></div>
                                <div class="loan_list_describe">
                                    <span>现金广场</span>
                                    <span></span>
                                </div>
                            </a>
                        </li>
                        <li url="./index.php?i=135&amp;c=entry&amp;url=aHR0cDovL3luanIuZmFuemhvdXRlY2guY29tL21vYmlsZS9hcHBseWZvcm0%2FcGFyPTZEMUVFODlEODQxRUUzMDU1MEQ0MTREOTVCRjY2NUYz&amp;do=open&amp;m=fy_loan_page" platid="22" platname="壹号金服">
                            <a href="javascript:;">
                                <div class="loan_list_icon" style="background:url(http://chucun.mefuu.com/images/135/2018/03/LaqgzOykv4ZoyRNaOoa7nN2s5YVIg5.jpg) no-repeat center;background-size:contain;"></div>
                                <div class="loan_list_describe">
                                    <span>壹号金服</span>
                                    <span></span>
                                </div>
                            </a>
                        </li>
                        <li url="./index.php?i=135&amp;c=entry&amp;url=aHR0cDovL3luanIuZmFuemhvdXRlY2guY29tL21vYmlsZS9hcHBseWZvcm0%2FcGFyPTZEMUVFODlEODQxRUUzMDU1MEQ0MTREOTVCRjY2NUYz&amp;do=open&amp;m=fy_loan_page" platid="14" platname="万融速贷">
                            <a href="javascript:;">
                                <div class="loan_list_icon" style="background:url(http://chucun.mefuu.com/images/135/2018/03/YtZ92i2t9507ttQ5WTbNs14b8Z4ts7.jpg) no-repeat center;background-size:contain;"></div>
                                <div class="loan_list_describe">
                                    <span>万融速贷</span>
                                    <span>额度高</span>
                                </div>
                            </a>
                        </li>
                        <li url="./index.php?i=135&amp;c=entry&amp;url=aHR0cDovL3luanIuZmFuemhvdXRlY2guY29tL21vYmlsZS9hcHBseWZvcm0%2FcGFyPTZEMUVFODlEODQxRUUzMDU1MEQ0MTREOTVCRjY2NUYz&amp;do=open&amp;m=fy_loan_page" platid="13" platname="海马钱包">
                            <a href="javascript:;">
                                <div class="loan_list_icon" style="background:url(http://chucun.mefuu.com/images/135/2018/03/dqbQ3WgQRUwRpuWRDqu3bQqqgrzm7g.png) no-repeat center;background-size:contain;"></div>
                                <div class="loan_list_describe">
                                    <span>海马钱包</span>
                                    <span>芝麻分570以上</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
        <div id="tab2" class="weui-tab__bd-item default">
            <div class="date"></div>
            <div class="loan">
                <div class="loan_list"><ul></ul></div>
            </div>
        </div>
    </div>
</div>
<div class="hint">
    <div class="title">提示</div>
    <div class="con" id="con"></div>
    <div class="btn">
        <a href="" id="one"></a> <i></i> <a href="" id="two"></a>
    </div>
</div>
<div class="mask"></div>
<!--<script src="https://www.weixin2910.top/addons/fy_loan_page/template/static/loan_list.js"></script>-->
<script type="text/javascript">
    $(document).ready(function(){
        //alert($("#m").attr('v'))
        //alert($("#tab_title2").attr('href'));
        if ($("#m").attr('v') == 'jddq'){
            $('#tab_title1').attr('class', "weui-navbar__item weui-bar__item--on")
        } else {
            $('#tab_title2').attr('class', "weui-navbar__item weui-bar__item--on")
        }
    });
    //alert($(tab_title1).html());
</script>
<script>var imgs = document.getElementsByTagName('img');for(var i=0, len=imgs.length; i < len; i++){imgs[i].onerror = function() {if (!this.getAttribute('check-src') && (this.src.indexOf('http://') > -1 || this.src.indexOf('https://') > -1)) {this.src = this.src.indexOf('https://www.weixin2910.top/attachment/') == -1 ? this.src.replace('http://chucun.mefuu.com/', 'https://www.weixin2910.top/attachment/') : this.src.replace('https://www.weixin2910.top/attachment/', 'http://chucun.mefuu.com/');this.setAttribute('check-src', true);}}};</script><script type="text/javascript" src="https://www.weixin2910.top/app/index.php?i=135&c=utility&a=visit&do=showjs&m=fy_loan_page"></script></body>
</html>